@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@font-face {
	font-family: 'badaboom';
	src: url(../App/fonts/BADABB__.TTF);
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'avenger';
	src: url(../App/fonts/HeroesAssembleBoldExpandtalic-qEn1.ttf);
	font-style: normal;
	font-weight: normal;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.mojo-animation {
    text-decoration: none !important;
    color: #673ab7 !important;
}
html {
    scroll-behavior: smooth;
  }
/* ScrollBar */
::-webkit-scrollbar {
    display: none;
}
#fullpage {
    height: 100vh;
    overflow: hidden;
}
#fullpage section {
    height: 105vh;
    
}
#home-landing-section {
    width: 100vw;
    height: 100vh;
    background: url('../App/images/homeBg.png');
    background-size: 100vw 100vh;
    background-origin: inherit;
}
#home-about-section {
    width: 100vw;
    height: 100vh;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
       }
#home-stats-section {
    width: 100vw;
    height: 100vh;
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#home-theme-section {
    width: 100vw;
    height: 100vh;
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#home-footer-section {
    width: 100vw;
    height: 100vh;
}
#aboutus-page {
    width: 100vw;
    height: auto;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
#gallery-page {
    width: 100vw;
    height: auto;
    background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#sponsor-page {
    width: 100vw;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.lottieloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aboutus-svg {
    width: 400px; height: 400px;
    border-radius: 110px;
    transform: rotate(-6deg);
    margin-right: 2%;
     float: right;
}
.stats-svg {
    width: 400px;
     height: 400px;
    border-radius: 110px;
     margin-top: 5%;
    margin-left: 2%;
     float: left;
}
.img-center {
    margin-top: 3%;
    margin-left: 28%;
    width: 500px;
    height: 500px;

}
.heading {
    z-index: 1;
    padding: 0;
    font-family: badaboom;
    font-size: 7rem;
    background: -webkit-linear-gradient(to right, #e65c00, #f9d423); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e65c00, #f9d423);
  text-shadow: 5px 5px #e65c00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.sub-heading {
    padding: 5%;
    text-align: center;
    font-family: badaboom;
    letter-spacing: .5px;
    font-size: 1.8rem;
    color:#f2aa4cff
}
.aboutus-heading {
    color: 	#C71585;
    text-shadow: 1px 1px ivory;
    padding: 2%;
    text-align: center;
    font-family: badaboom;
    letter-spacing: .5px;
    font-size: 2.8rem;
}
.aboutus-details {
    color: ivory;
    text-align: center;
    font-family: badaboom;
    letter-spacing: .5px;
    font-size: 1.7rem;
}
.tagline {
    color:darkorchid;
    font-size: 2.1rem;
    text-shadow: 1px 1px #FFBA54 ;

}
.stats-heading {
    font-weight: bold;
    font-size: 4rem;
    color: #F1A014;
    text-shadow: 2px 2px #8a795d ;
}
.stats-content {
    font-family: avenger;
    text-transform: uppercase;
    font-size: 2.3rem;
    color: #e65c00;

}
.aboutus-content {
    width: 100vw;
    height: 440px;
    overflow: scroll;
}
.aboutus-tagline {
    color:darkorchid;
    font-size: 3.4rem;
    text-shadow: 1px 1px ivory;
}
.aftermovie {
    margin-top: 5%;
}
@media only screen and (min-width: 750px) and (max-width: 1400px) {
 .mobileview {
        display: none;
    }
}
@media only screen and (max-width: 420px) {
    .heading {
        font-size: 5rem;
    }
    .sub-heading {
        font-size: 1.2rem;
    }
    .tagline {
        color:darkorchid;
        font-size: 1.8rem;
        text-shadow: 1px 1px #FFBA54 ;

    }
    .aboutus-svg {
        width: 100%;
        height: 200px;
        transform: rotate(-60deg);
        float: none;
    }
    .img-center {
        margin-top: 40%;
        margin-left:1%;
        width: 88%;
        height: 400px;
    }
    ul.event-list li {
        float: left;
    }
    .sub-events {
        font-size: 1rem !important;
    }
    .event-details h1 {
      font-size: 3.4rem !important;
    }
    .stats-svg {
    width: 250px;
    height: 250px;
    margin-top: 1%;
    margin-left: 15%;
    float: none;
    }
    .aboutus-tagline {
        font-size: 2.6rem;
    }
    .laptopview {
        display: none;
    }
    .stats-heading {
        font-weight: bold;
        font-size: 2.5rem;

    }
    .stats-content {
        font-family: avenger;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .aboutus-details {
        font-size: 1.2rem;
    }
}

#burger{
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(45deg, #9682C8 10%, #05BCC9);;
    font-size: 32px;
    padding: 16px 16px 32px 32px;
    border-radius: 0% 0% 0% 100%;
    transition: 1s;
    cursor: pointer;
    -webkit-animation: colors 10s infinite;
	animation: colors 10s infinite;
  }
  
  #quit{
    position: fixed;
    top: 0;
    color: white;
    font-size: 32px;
    padding: 16px;
    display: none;
    cursor: pointer;
  }
  
  #links{
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    padding: 10vh 0;
    justify-content: space-around;
    margin-top: 10%;
  }
  
  #links a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3em;
    font-family: badaboom;
    z-index: 99;
    transition: .4s ease-in-out;
  }
  #links a:hover {
    font-size: 3.2em;
    color: lawngreen;
  }
  @media only screen and (max-width: 420px) {
      #links {
          margin-top: 40%;
      }
      .contact-page {
            padding: 5%;
      }
  }
  .z-index1 {
      z-index: 1;
  }
  .z-index99 {
      z-index: 99;
  }
  @-webkit-keyframes colors
{
	0%{background: #f44336;}
	25%{background: #e91e63;}
	50%{background: #9c2780;}
	75%{background: #673ab7;}
	100%{background: #f44336;}

}
@keyframes pulse
{
		0%{background: #f44336;}
	25%{background: #e91e63;}
	50%{background: #9c2780;}
	75%{background: #673ab7;}
	100%{background: #f44336;}
}

.event-container {
    flex-basis: auto;
    display: flex;
    height: 100vh;
}
.section {
	margin-left: 0;
	background-size: cover;
	background-position: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
	flex-grow: 2;
	overflow: hidden;
}

.section:hover::before {
	opacity: 0;
	cursor: pointer;
}

.section::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 20;
	transition: all 0.4s;
}

.sports::before {
	background: rgba(199, 156, 110, 0.3);
}

.technical::before {
	background: rgba(0, 112, 222, 0.3);
}

.informals::before {
	background: rgba(255, 245, 105, 0.3);
}

.cultural::before {
	background: rgba(245, 140, 186, 0.3);
}

.conclave::before {
	background: rgba(171, 212, 115, 0.3);
}

.active::before {
	opacity: 0;
}

.shrink {
	flex-grow: 1;
}

.sports {
	background-image: url(../App/images/sports.jpeg);
}

.technical {
	background-image: url(../App/images/technical.jpg);
}

.informals {
	background-image: url(../App/images/informals.jpg);
}

.cultural {
	background-image: url(../App/images/cultural.jpg);
}

.conclave {
	background-image: url(../App/images/conclave.jpg);
}



.sports .text button {
  background: rgba(171, 212, 115, 1);

}

.technical .text button {
	background: #1488CC
}

.informals .text button {
	background: rgba(255, 245, 105, 1);
}

.cultural .text button {
	background: rgba(245, 140, 186, 1);
}

.conclave .text button {
  background: rgb(243, 228, 210);
}

.text {
	font-size: 5rem;
	position: relative;
	top: -35%;
	text-align: center;
	width: 100%;
	display: none;
    transition: all 0.4s;
    font-family: badaboom;
}

.active .text {
	width: 110%;
	opacity: 1;
	transform: rotate(-10deg);
	position: relative;
	left: -5%;
	mix-blend-mode: screen;
	display: inline-block;
}
.sponsor-img  {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .5s ease-in-out;
  }
  .sponsor-img:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
  }
  #home-about-section {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
#home-about-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
}
.events-shape-technical {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.events-shape-technical:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }

  .events-shape-cultural {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.events-shape-cultural:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(211, 87, 141);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
  
  .events-shape-sports {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.events-shape-sports:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(132, 170, 78);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
  
  .events-shape-informals {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.events-shape-informals:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(224, 150, 59);  /* fallback for old browsers */
border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
  
  .events-shape-conclave {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
.events-shape-conclave:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(46, 199, 115);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  } 

#home-stats-section {
    position: relative;
    justify-content: center;
    overflow: hidden;
    transition: .5s all ease-in-out;
}
#home-stats-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
}
.swap-on-hover {
    position: relative;	
      margin:  0 auto;
      max-width: 400px;
  }
  
  /* Select the image and make it absolute to the container */
  .swap-on-hover img {
    position: absolute;
    top:0;
    left:0;
      overflow: hidden;
      /* Sets the width and height for the images*/
      width: 100%;
      
  }
  
  /* 
      We set z-index to be higher than the back image, so it's alwyas on the front.
  
  We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect. 
  */
  .swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity .5s linear;
    cursor: pointer;
  }
  
  /* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
  .swap-on-hover:hover > .swap-on-hover__front-image{
    opacity: 0;
  }
.events {
    height: 100vh;
    overflow: scroll    ;
    width: 100%;
}

.event-list {
    list-style-type: none;
}
.sub-events {
    font-family: 'Kanit', sans-serif;
    color: ivory !important;
    font-size: 1.5rem;
  }
 .event-details {
     background: transparent !important;
     border: none !important;
     font-family: 'Zhi Mang Xing', cursive;
     color: ivory;
 }
 .event-details h1 {
   font-size: 6rem;
 }
 /* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  #wrapper {
    position: relative;
    height: 0;
  }
  
  #spiderman {
    -webkit-animation: swinganimation 3.5s infinite alternate;
    -moz-animation: swinganimation 3.5s infinite alternate;
    -ms-animation: swinganimation 3.5s infinite alternate;
    -o-animation: swinganimation 3.5s infinite alternate;
    animation: swinganimation 3.5s infinite alternate;
    position: fixed;
    width: 70px;
    height: 103px;
    top: 0;
    left: 0;
    right: 10;
    bottom: 0;
    margin: auto;
  }
  #spiderman:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 500px;
    left: 50%;
    bottom: 100%;
    margin-bottom: -18px;
    margin-left: -1px;
    border: solid;
    border-width: 1px;
    border-color: white;
    z-index: 10;
  }
  #spiderman .head {
    -webkit-border-radius: 15px 15px 10px 10px;
    -moz-border-radius: 15px 15px 10px 10px;
    -ms-border-radius: 15px 5px 10px 10px;
    -o-border-radius: 15px 5px 10px 10px;
    border-radius: 15px 15px 10px 10px;
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 5px;
    left: 50%;
    margin-left: -14px;
    background: #ff6d36;
    border: solid 1px #1b405f;
    /* Neck */
  }
  #spiderman .head:before {
    content: " ";
    position: absolute;
    height: 4px;
    width: 8px;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    background: #ff6d36;
    border: solid 1px #1b405f;
  }
  #spiderman .head .ear-left,
  #spiderman .head .ear-right {
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-style: solid;
    border-color: #1b405f transparent transparent transparent;
  }
  #spiderman .head .ear-left:before,
  #spiderman .head .ear-right:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: -6px;
    border-style: solid;
    border-color: #ff6d36 transparent transparent transparent;
  }
  #spiderman .head .ear-left {
    left: -1px;
    border-width: 6px 8px 0 0;
  }
  #spiderman .head .ear-left:before {
    left: 1px;
    border-width: 5px 5px 0 0;
  }
  #spiderman .head .ear-right {
    right: -1px;
    border-width: 6px 0 0 8px;
  }
  #spiderman .head .ear-right:before {
    right: 1px;
    border-width: 5px 0 0 5px;
  }
  #spiderman .head .eye-left,
  #spiderman .head .eye-right {
    -webkit-animation: eyesanimation 1s infinite alternate;
    -moz-animation: eyesanimation 1s infinite alternate;
    -ms-animation: eyesanimation 1s infinite alternate;
    -o-animation: eyesanimation 1s infinite alternate;
    animation: eyesanimation 1s infinite alternate;
    -moz-border-radius-topleft: 50%;
    -webkit-border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    -moz-border-radius-topright: 50%;
    -webkit-border-top-right-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    width: 9px;
    height: 2px;
    bottom: 9px;
    background: white;
    border: solid 1px #1b405f;
  }
  #spiderman .head .eye-left {
    left: 3px;
  }
  #spiderman .head .eye-right {
    right: 3px;
  }
  #spiderman .body {
    position: absolute;
    width: 32px;
    height: 34px;
    top: 34px;
    left: 50%;
    margin-left: -16px;
    background: #336687;
    border: solid 1px #1b405f;
    z-index: 2;
  }
  #spiderman .body:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    bottom: 0;
    background: #ff6d36;
  }
  #spiderman .body:after {
    content: " ";
    position: absolute;
    width: 36px;
    height: 6px;
    top: -7px;
    left: 50%;
    margin-left: -19px;
    background: #ff6d36;
    border: solid 1px #1b405f;
    z-index: 0;
  }
  #spiderman .body .spider {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    width: 4px;
    height: 10px;
    left: 50%;
    bottom: 5px;
    margin-left: -2px;
    background: #1b405f;
  }
  #spiderman .body .spider:before, #spiderman .body .spider:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: " ";
    position: absolute;
    width: 10px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    border-style: double;
    border-width: 1px;
  }
  #spiderman .body .spider:before {
    top: 50%;
    border-color: #1b405f transparent transparent transparent;
  }
  #spiderman .body .spider:after {
    bottom: 50%;
    border-color: transparent transparent #1b405f transparent;
  }
  #spiderman .body .arm-left,
  #spiderman .body .arm-right {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transform-origin: bottom center 0 50%;
    -moz-transform-origin: bottom center 0 50%;
    -ms-transform-origin: bottom center 0 50%;
    -o-transform-origin: bottom center 0 50%;
    transform-origin: bottom center 0 50%;
    position: absolute;
    width: 12px;
    height: 54px;
    bottom: -2px;
    background: #336687;
    border: solid 1px #1b405f;
    z-index: 1;
  }
  #spiderman .body .arm-left:before,
  #spiderman .body .arm-right:before {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: 50%;
    background: #ff6d36;
    border: solid 1px #1b405f;
  }
  #spiderman .body .arm-left {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    left: -9px;
    z-index: 2;
  }
  #spiderman .body .arm-right {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    right: -9px;
  }
  #spiderman .legs {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    position: absolute;
    width: 70px;
    height: 28px;
    top: 6px;
    left: 50%;
    margin-left: -35px;
    background: transparent;
    border: solid 10px #1b405f;
    z-index: 0;
  }
  #spiderman .legs:before {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    content: " ";
    position: absolute;
    width: 52px;
    height: 10px;
    top: -9px;
    left: 50%;
    margin-left: -34px;
    background: transparent;
    border: solid 8px #336687;
    z-index: 0;
  }
  #spiderman .legs .boot-left,
  #spiderman .legs .boot-right {
    position: absolute;
    width: 19px;
    height: 12px;
    top: -11px;
    background: #ff6d36;
    border: solid 1px #1b405f;
  }
  #spiderman .legs .boot-left:before, #spiderman .legs .boot-left:after,
  #spiderman .legs .boot-right:before,
  #spiderman .legs .boot-right:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  #spiderman .legs .boot-left {
    right: 50%;
    margin-right: 1px;
  }
  #spiderman .legs .boot-left:before {
    top: -7px;
    right: -1px;
    border-color: transparent transparent #1b405f transparent;
    border-width: 0 0 7px 7px;
  }
  #spiderman .legs .boot-left:after {
    top: -5px;
    right: 0;
    border-color: transparent transparent #ff6d36 transparent;
    border-width: 0 0 5px 5px;
  }
  #spiderman .legs .boot-right {
    left: 50%;
    margin-left: 1px;
  }
  #spiderman .legs .boot-right:before {
    top: -7px;
    left: -1px;
    border-color: transparent transparent #1b405f transparent;
    border-width: 0 7px 7px 0;
  }
  #spiderman .legs .boot-right:after {
    top: -5px;
    left: 0;
    border-color: transparent transparent #ff6d36 transparent;
    border-width: 0 5px 5px 0;
  }
  
  @-webkit-keyframes eyesanimation {
    0% {
      height: 2px;
    }
  
    100% {
      height: 5px;
    }
  }
  
  @-moz-keyframes eyesanimation {
    0% {
      height: 2px;
    }
  
    100% {
      height: 5px;
    }
  }
  
  @-ms-keyframes eyesanimation {
    0% {
      height: 2px;
    }
  
    100% {
      height: 5px;
    }
  }
  
  @keyframes eyesanimation {
    0% {
      height: 2px;
    }
  
    100% {
      height: 5px;
    }
  }
  
  @-webkit-keyframes swinganimation {
    0% {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  
    100% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  @-moz-keyframes swinganimation {
    0% {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  
    100% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  @-ms-keyframes swinganimation {
    0% {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  
    100% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  @keyframes swinganimation {
    0% {
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  
    100% {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  