<center>
    <div class="lottieloader" ng-show="about.loading">
        <lottie-player
        src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay >
    </div>
</center>
<div ng-hide="about.loading" class="z-index1">
    <div id="aboutus-page">
        <center>
            <h1 class="heading" style="color: #f2aa4cff;">About<span style="color:darkorchid ;"> Us</span></h1>
        </center> 
        <div class="row mt-4" style="padding-left: 10%; padding-right: 10%;">
            <div class="col-md-12 aboutus-content shadow-sm">
                <center>
                <h2 class="aboutus-heading"><a href="" class="mojo-animation">What SAMVID is All About?</a></h2>
                <p class="aboutus-details">
                    A Nation Wide Techno-Cultural Fest which will encompass as one of the Holistic event ever 
                    happened in Chhattisgarh State, assimilating many cultural and technical events into one 
                    holistic event attracting a mass of nearly 13,000 students from all major colleges in 
                    Chhattisgarh and other states in vicinity. Empowering latent talents, to put there calibre 
                    at test in a National Platform.
                </p>
                
                <h2 class="aboutus-heading"><a href="" class="mojo-animation">We love our public</a></h2>
                <p class="aboutus-details">
                    Samvid, SSTC Bhilai the largest cultural festival in Central India, present you yet another 
                    mind-boggling edition of its 3-day extravaganza. This time as you walk down the lanes of the 
                    campus, let’s together orchestrate the times we have lived through. And to help you make another 
                    one of those cherished memories, SSTC is ready and waiting for you, this 28th February to 2nd March.
                </p>
                <p class="aboutus-details" style="font-size: 1.6rem;">
                    Come and feel the fun. See you at Samvid ‘20!<br>
                    <span class="aboutus-tagline">#MachaateyRaho!</span>
                </p>
                </center>
            </div>
        </div>
        <div class="aftermovie">   
        <center>
            <h1 class="heading" style="color: #f2aa4cff;">GLIMPSE of<span style="color:darkorchid ;"> SAMVID'19</span></h1>
            <div class="container">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/yaQunQbam6c?rel=0&showinfo=0&autohide=1"frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>    
        </center>
        </div>
    </section>
</div>