<center>
    <div class="lottieloader" ng-show="contact.loading">
        <lottie-player src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"
            background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay>
    </div>
</center>
<section ng-hide="contact.loading" class="events" style="background: rgb(145, 83, 202);">
    <div class="container events-shape-contact">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Contact us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#website" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Web Site</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#graphic" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Graphics</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Cultural" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Cultural</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Informals" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Informals</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Conclave" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Conclave</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Sports" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Sports</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#PnP" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Print & Publicity</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Hospitality" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Hospitality</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Operations" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Operations</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#SocialMedia" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Social Media</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Vigilance" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Vigilance</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Photography" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Photography</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#ShutterStories" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">ShutterStories</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="website">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Web Site</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/05 (1).png">
                                <div class="middle">
                                    <h4>Shubham Agrawal</h4>
                                    <h5>+91-9617874449</h5>
                                    <h5>shubhama664@gmail.com</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/03 (1).png">
                                <div class="middle">
                                    <h4>Aditya Naidu</h4>
                                    <h5>+91-7000878462</h5>
                                    <h5>adityanaidu.work@gmail.com</h5>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt show" id="graphic">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Graphics</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/27 (1).png">
                                <div class="middle">
                                    <h4>Snigdha Verma</h4>
                                    <h5>+91-9827780364</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/26 (1).png">
                                <div class="middle">
                                    <h4>Abhay Singh Rajput</h4>
                                    <h5>+91-7898761139</h5>
                                    
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Cultural">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Cultural</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/17 (1).png">
                                <div class="middle">
                                    <h4>Vikas Singh</h4>
                                    <h5>+91-7000894486</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/18 (1).png">
                                <div class="middle">
                                    <h4>Pallav Jain</h4>
                                    <h5>+91-7987725836</h5>
                                    
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Informals">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Informals</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/04 (1).png">
                                <div class="middle">
                                    <h4>Himanshu Nandagawali</h4>
                                    <h5>+91-9098350760</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/14 (1).png">
                                <div class="middle">
                                    <h4>Lalit Suman</h4>
                                    <h5>+91-8602964387</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/20 (1).png">
                                <div class="middle">
                                    <h4>Ashish Ranjan</h4>
                                    <h5>+91-8770533343</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/16 (1).png">
                                <div class="middle">
                                    <h4>Vivek Sharma</h4>
                                    <h5>+91-9685354767</h5>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Conclave">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Conclave</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/10 (1).png">
                                <div class="middle">
                                    <h4>B Prashant</h4>
                                    <h5>+91-8359938339</h5>
                                </div>
                            </div>
                            <!-- <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/08 (1).png">
                            </div> -->
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Sports">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Sports</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/21 (1).png">
                                <div class="middle">
                                    <h4>Adarsh Kumar Gupta</h4>
                                    <h5>+91-8109202858</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <!-- <img class="con-img" src="App/images/team/10 (1).png"> -->
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="PnP">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Print & Publicity</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/11 (1).png">
                                <div class="middle">
                                    <h4>Mrinal</h4>
                                    <h5>+91-8319542426</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/07 (1).png">
                                <div class="middle">
                                    <h4>Shiraj</h4>
                                    <h5>+91-7697744673</h5>   
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Hospitality">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Hospitality</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/25 (1).png">
                                <div class="middle">
                                    <h4>Vikas Singh Rana</h4>
                                    <h5>+91-920000327</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/23 (1).png">
                                <div class="middle">
                                    <h4>Harshit Mishra</h4>
                                    <h5>+91-7773873286</h5>   
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Operations">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Operations</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/08 (1).png">
                                <div class="middle">
                                    <h4>Viral Namdeo</h4>
                                    <h5>+91-7803869005</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/24 (1).png">
                                <div class="middle">
                                    <h4>Ashutosh Chakradhari</h4>
                                    <h5>+91-7987279174</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/13 (1).png">
                                <div class="middle">
                                    <h4>L V Varun Sagar</h4>
                                    <h5>+91-7987286964</h5>   
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="SocialMedia">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Social Media</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/01 (1).png">
                                <div class="middle">
                                    <h4>Aman Chopra</h4>
                                    <h5>+91-700008664</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/28 (1).png">
                                <div class="middle">
                                    <h4>Bhavna Setia</h4>
                                    <h5>+91-7772801979</h5>   
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Vigilance">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Vigilance</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/19 (1).png">
                                <div class="middle">
                                    <h4>Shivam Grag</h4>
                                    <h5>+91-7974247372</h5>   
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/team/09 (1).png">
                                <div class="middle">
                                    <h4>Jaypriya Gupta</h4>
                                    <h5>+91-8770560272</h5>   
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                    <div class="collapse evt" id="Photography">
                        <div class="card card-body event-details">
                            <h1 class="text-center">Photography</h1>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5 mt-2 overlay">
                                    <img class="con-img" src="App/images/team/13 (1).png">
                                    <div class="middle">
                                        <h4>L.V Varun Sagar</h4>
                                        <h5>+91-7987286964</h5>   
                                    </div>
                                </div>
                                <div class="col-md-5 mt-2 overlay">
                                    <img class="con-img" src="App/images/team/22 (1).png">
                                    <div class="middle">
                                        <h4>Shekhar Adil </h4>
                                        <h5>+91-9827118987</h5>   
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                <div class="collapse evt" id="ShutterStories">
                    <div class="card card-body event-details">
                        <h1 class="text-center">ShutterStories</h1>
                        <h2></h2>
                        <div class="row">
                            <div class="col-md-12 mt-2 overlay">
                                <a href="https://www.instagram.com/theshutter_stories/" > <img class="con-img" src="App/images/team/DSC_5351.JPG__01.jpg" ></a>
                                <div class="middle">
                                    <h4>Click Here to visit there Instagram Handle</h4>
                                    <!-- <h5>+91-8770560272</h5>   -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
