<section class="events" style="background: rgb(145, 83, 202);">
    <div class="container events-shape-contact">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">OUR TEAM</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#website" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Web Site</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Cultural" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Cultural</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Informals" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Informals</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Conclave" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Conclave</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Sports" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Sports</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#PnP" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Print & Publicity</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Hospitality" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Hospitality</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Operations" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Operations</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#SocialMedia" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Social Media</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block text-left" data-toggle="collapse"
                            data-target="#Vigilance" aria-expanded="false" ng-click="contact.show()"
                            aria-controls="collapseExample">
                            <span class="sub-events hvr-underline-from-center">Vigilance</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="website">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Web Site</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                                <div class="middle">
                                    <h4>Shubham Agrawal</h4>
                                    <h5>+919617874449</h5>
                                    <h5>shubhama664@gmail.com</h5>
                                </div>
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me2.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Cultural">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Cultural</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/01.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Informals">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Informals</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Conclave">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Conclave</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Sports">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Sports</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="PnP">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Print & Publicity</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Hospitality">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Hospitality</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Operations">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Operations</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="SocialMedia">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Social Media</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="collapse evt" id="Vigilance">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Vigilance</h1>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-5 mt-2 overlay">
                                <img class="con-img" src="App/images/me1.png">
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>