<section class="events">
    <div class="container events-shape">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Technical Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RoboSoccer" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Robo Soccer</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RoboRace" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Robo Race</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RoboSumo" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Robo Sumo</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Model" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Model</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#MyInnovation" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">My Innovation</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#CircuitDesigning" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Circuit Designing</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#BridgeIt" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Bridge It</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Rocket" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Rocket</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#ShockWave" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Shock Wave</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#TechnoRace" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Techno Race</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="RoboSoccer">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Robo Soccer</h1>
                    </div>
                </div>
                <div class="collapse evt" id="RoboRace">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Robo Race</h1>
                    </div>
                </div>
                <div class="collapse evt" id="RoboSumo">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Robo Sumo</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Model">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Model Making</h1>
                    </div>
                </div>
                <div class="collapse evt" id="MyInnovation">
                    <div class="card card-body event-details">
                        <h1 class="text-center">My Innovation</h1>
                    </div>
                </div>
                <div class="collapse evt" id="CircuitDesigning">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Circuit Designing</h1>
                    </div>
                </div>
                <div class="collapse evt" id="BridgeIt">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Bridge It</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Rocket">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Rocket Making</h1>
                    </div>
                </div>
                <div class="collapse evt" id="ShockWave">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Shock Wave</h1>
                    </div>
                </div>
                <div class="collapse evt" id="TechnoRace">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Techno Race</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>