<section class="events" style="background: rgba(245, 140, 186, 1);">
    <div class="container events-shape-cultural">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Cultural Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Flames" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Flames</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#VoiceofSamvid" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Voice of Samvid</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#FootLoose" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">FootLoose</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#WarofDJ" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">War of DJ</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Darpan" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Darpan</span>
                        </a>
                    </li>
                   
                   
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="Flames">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Flames</h1>
                    </div>
                </div>
                <div class="collapse evt" id="VoiceofSamvid">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Voice of Samvid</h1>
                    </div>
                </div>
                <div class="collapse evt" id="FootLoose">
                    <div class="card card-body event-details">
                        <h1 class="text-center">FootLoose</h1>
                    </div>
                </div>
                <div class="collapse evt" id="WarofDJ">
                    <div class="card card-body event-details">
                        <h1 class="text-center">War of DJ</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Darpan">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Darpan</h1>
                    </div>
                </div>
               
                
                
            </div>
        </div>
    </div>
</section>