<center>
    <div class="lottieloader" ng-show="about.loading">
        <lottie-player
        src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay >
    </div>
</center>
<div ng-hide="about.loading" class="z-index1">
    <div id="conclave-page">
        <center>
            <h1 class="heading" style="color: #f2aa4cff;">CONCLAVE<span style="color:darkorchid ;"> 2.0</span></h1>
        </center> 
        <div class="row mt-4" style="padding-left: 10%; padding-right: 10%;">
            <div class="col-md-12 aboutus-content shadow-sm">
                <center>
                <h2 class="aboutus-heading"><a href="" class="mojo-animation">What is ‘the ideas conclave’ event ?</a></h2>
                <p class="aboutus-details">
                    The ideas conclave is not mere an event, it’s a carnival of ideas and inspirations that not just aspires its audience but also entertains them.
The ideas conclave is a blend of performances where we create a unique gathering in our community that inspire and inform. The content and design of each CONCLAVE performance is unique and developed independently, but all of them have features in common.
                </p>
                
                <h2 class="aboutus-heading"><a href="" class="mojo-animation">CONCLAVE’s Format</a></h2>
                <p class="aboutus-details">
                    Imagine a day where you get inspired and motivated with touch of Entertainment and humour. The Ideas CONCLAVE PROVIDE A thought provoking Speakers and mind blowing performances.<br>

A suite of short, carefully prepared talks, demonstrations and performances that are idea-focused, and cover a wide range of subjects to foster learning, inspiration and wonder – and provoke conversations that matter.</p>
<h2 class="aboutus-heading"><a href="" class="mojo-animation">Diversity of Topics</a></h2>
<p class="aboutus-details">
    All Conclave performance present multiple sides of society and a diversity of voices from different disciplines.</p>               

<p class="aboutus-details" style="font-size: 1.6rem;">
                    Come and feel the fun. See you at Samvid ‘20!<br>
                    <span class="aboutus-tagline">#MachaateyRaho!</span>
                </p>
                </center>
            </div>
        </div>
        <div class="aftermovie">   
        <center>
            <h1 class="heading" style="color: #f2aa4cff;">FEATURING-</span></h1><br>
            <h2 class="heading" style="color: #f2aa4cff;">SAMAY RAINA</h2>
            <div class="container">
                <video width="100%" height="500" autoplay>
                    <source src="App/video/vi.mp4" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                  Your browser does not support the video tag.
                  </video> </div>    
        </center>
        </div>
    </section>
</div>