<section class="events" style="background: rgb(240, 182, 111);">
    <div class="container events-shape-informals">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Informals Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#TreasureHunt" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Treasure Hunt</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RushHour" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Rush Hour</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#SlipperyFootbal" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Slippery Football</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#TicTacToe" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Tic-Tac Toe</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#NinjaWarrior" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Ninja Warrior</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#SlowBikeRace" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Slow Bike Race</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#SumoDangal" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Sumo Dangal</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#FaceofSamvid" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Face of Samvid</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#MrMissTikToker" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Mr. & Miss. Tik Toker</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#MrBeardo" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Mr. Beardo</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#MissEnchantress" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Miss Enchantress</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Paperdance" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Paper dance </span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#OpenMic" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Open Mic</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Tugofwar" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Tug of war</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#UPDown" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">7 UP & Down</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Spiderrun" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Spider run</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#LeggedRace" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">3- Legged Race</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#together" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">5 –together</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#WhosStrongest" aria-expanded="false" ng-click="informals.show()" aria-controls="collapseExample">
                            <span class="sub-events">Who’s Strongest</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="TreasureHunt">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Treasure Hunt</h1>
                        <p class="event_content">A game in which the players are given a series of clues (= pieces of information) 
                            to direct them to a hidden prize. Each team will contain 4 members.<br>
                            <span class="event_prize">Entry fee- 200 per team<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="RushHour">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Rush Hour</h1>
                        <p class="event_content">A game of selfie in which the players are given a series of clues and on that they have to take selfies on basis of different clues.<br>
                            <span class="event_prize">Entry fee- 100 per team( team of 3 members)<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="SlipperyFootbal">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Slippery Football</h1>
                        <p class="event_content">Sllippery football is a slippery game, where you will be playing football on spongy, wet and slippery surface to oomph up the fun. A maximum of 10 people can play at a time (5 per team).<br>
                            <span class="event_prize">Entry fee- 400 per Team( team of 4 members)<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="TicTacToe">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Tic-Tac Toe</h1>
                        <p class="event_content">layers will flip for this strategic twist on traditional tic-tac-toe. The goal remains to get three of your color chips in a row...but now players can stack pieces, move them around, or even flip the stacks over. Just when you think you've got your chips lined up, the game takes a surprising turn!.<br>
                            <span class="event_prize">Entry fee- 30 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="NinjaWarrior">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Ninja Warrior</h1>
                        <p class="event_content">A large range of challenges were used throughout the game ... They have to shout out instructions to direct their team  through, avoiding the Guards, to the exit. It is basically takeshi's castle game which is shown in POGO Channel.<br>
                            <span class="event_prize">Entry fee- 200 per team( team of 4 members)<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="SlowBikeRace">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Slow Bike Race</h1>
                        <p class="event_content">In slow bike races, riders of any age and fitness level compete to advance as slowly as possible without falling off their bikes or rolling backward. Unlike regular races, the last to reach the finish line wins.<br>
                            <span class="event_prize">Entry fee- 30 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="SumoDangal">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Sumo Dangal</h1>
                        <p class="event_content">Always a fun game, the Sumo Dangal Game pits two players against each other while wearing heavily padded sumo suits. ... The goal of the Sumo Competition Game is to push or shove the other player outside of the ring on the padded mats. The last player remaining in the ring is the winner.<br>
                            <span class="event_prize">Entry fee- 50 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="FaceofSamvid">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Face of Samvid</h1>
                        <p class="event_content">It is a Social Media Event on the basis of like and comment on their photograph which has been uploaded in our official Face of samvid page, top 3 scorer of likes and comment are shortlisted and they get chance to walk on main stage, then after rampwalk face of samvid is decided on the basis of their overall personality.<br>
                            <span class="event_prize">Entry fee- 100 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="MrMissTikToker">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Mr. & Miss. Tik Toker</h1>
                        <p class="event_content">It is a Social Media Event on the basis of like and comment on their photograph which has been uploaded in our official Face of samvid page, top 3 scorer of likes and comment are shortlisted and they get chance to walk on main stage, then after rampwalk face of samvid is decided on the basis of their overall personality.<br>
                            <span class="event_prize">Entry fee- 100 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="MrBeardo">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Mr. Beardo</h1>
                        <p class="event_content">It is a Social Media Event on the basis of like and comment on their Video which has been uploaded in our official Face of samvid page, top 3 scorer of likes and comment are shortlisted and they get chance to walk on main stage, then after rampwalk face of samvid is decided on the basis of their overall personality.<br>
                            <span class="event_prize">Entry fee- 100 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="MissEnchantress">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Miss Enchantress</h1>
                        <p class="event_content">It is a Social Media Event on the basis of like and comment on their photograph which has been uploaded in our official Face of samvid page, top 3 scorer of likes and comment are shortlisted and they get chance to walk on main stage, then after rampwalk face of samvid is decided on the basis of their overall personality.<br>
                            <span class="event_prize">Entry fee- 100 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="Paperdance">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Paper dance </h1>
                        <p class="event_content">Paper Dance is a game for dancing companions. Once the song stops, the partners should step on the piece of newspaper and avoid touching the ground. The newspaper is folded in every stop so it gets smaller and smaller and so as the number of players.<br>
                            <span class="event_prize">Entry fee- 50 per person <br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="OpenMic">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Open Mic</h1>
                        <p class="event_content">An open mic o open mike (derived from the expression "open microphone") is a live show at a coffeehouse, nightclub, comedy club, strip club, institution or pub at which audience members who are amateur or professional may perform, often for the first time, or promote an upcoming performance, are given the opportunity. <br>
                            <span class="event_prize">Entry fee- 50 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="Tugofwar">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Tug of war</h1>
                        <p class="event_content">Tug of war (also known as tug o' war, tug war, rope war, rope pulling, or tugging war) is a sport that pits two teams against each other in a test of strength: teams pull on opposite ends of a rope, with the goal being to bring the rope a certain distance in one direction against the force of the opposing team's pull.<br>
                            <span class="event_prize">Entry fee- 150 per team ( team of 5 members)<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="UPDown">
                    <div class="card card-body event-details">
                        <h1 class="text-center">7 UP & Down</h1>
                        <p class="event_content">Seven Up Seven Down is a simple dice game, two 6 sided dice are rolled and the results are totaled up. You can bet on the total being over 7, under 7 or exactly seven.<br>
                            <span class="event_prize">Entry fee- 10 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="Spiderrun">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Spider run</h1>
                        <p class="event_content">It is a game in which there is 3 column and 10 rows and in each row you will have different symbols of hands and legs you have to match the symbols and complete it as fast as possible.<br>
                            <span class="event_prize">Entry fee- 30 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="LeggedRace">
                    <div class="card card-body event-details">
                        <h1 class="text-center">3- Legged Race</h1>
                        <p class="event_content">A game in which the players are given a series of clues (= pieces of information) 
                            to direct them to a hidden prize. Each team will contain 4 members.<br>
                            <span class="event_prize">Entry fee- 20 per person<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="together">
                    <div class="card card-body event-details">
                        <h1 class="text-center">5 –together</h1>
                        <p class="event_content">It is a game for friends. We will tie you all with a rope and and you have to cross the track as soon as possible.<br>
                            <span class="event_prize">Entry fee- 50 per team( team of 5 members)<br>
                       </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="WhosStrongest">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Who’s Strongest</h1>
                        <p class="event_content">It’s a game to check your strength. If you are as strong as the almighty hulk then come , compete and conquer.<br>
                            <span class="event_prize">Entry fee- 30 per head<br>
                       </span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>