<section class="events" style="background: rgb(160, 199, 104);">
    <div class="container events-shape-sports">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Sports Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Badminton" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Badminton</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#TableTennis" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Table Tennis</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#ArmWrestling" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Arm Wrestling</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#BodyBuildingWeightLifting" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Body Building & Weight Lifting</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#ChessLudo" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Chess & Ludo</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Carrom" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Carrom</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#GullyCricket" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Gully Cricket</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#FF" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">5-A Side Football</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#VolleyBall" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Volley Ball</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#BasketBall" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Basket Ball</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#BallintheBasket" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Ball in the Basket</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#BallThrow" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Ball Throw</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Kabaddi" aria-expanded="false" ng-click="sport.show()" aria-controls="collapseExample">
                            <span class="sub-events">Kabaddi</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="Badminton">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Badminton</h1>
                    </div>
                </div>
                <div class="collapse evt" id="TableTennis">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Table Tennis</h1>
                    </div>
                </div>
                <div class="collapse evt" id="ArmWrestling">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Arm Wrestling</h1>
                    </div>
                </div>
                <div class="collapse evt" id="BodyBuildingWeightLifting">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Body Building & Weight Lifting</h1>
                    </div>
                </div>
                <div class="collapse evt" id="ChessLudo">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Chess & Ludo</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Carrom">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Carrom</h1>
                    </div>
                </div>
                <div class="collapse evt" id="GullyCricket">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Gully Cricket</h1>
                    </div>
                </div>
                <div class="collapse evt" id="FF">
                    <div class="card card-body event-details">
                        <h1 class="text-center">5-A Side Football</h1>
                    </div>
                </div>
                <div class="collapse evt" id="VolleyBall">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Volley Ball</h1>
                    </div>
                </div>
                <div class="collapse evt" id="BasketBall">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Basket Ball</h1>
                    </div>
                </div>
                <div class="collapse evt" id="BallintheBasket">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Ball in the Basket</h1>
                    </div>
                </div>
                <div class="collapse evt" id="BallThrow">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Ball Throw</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Kabaddi">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Kabaddi</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>