<section class="events" style="background: rgba(245, 140, 186, 1);">
    <div class="container events-shape-cultural">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Cultural Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Flames" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Flames</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#VoiceofSamvid" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Voice of Samvid</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#FootLoose" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">FootLoose</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#WarofDJ" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">War of DJ</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Darpan" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Darpan</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#momme" aria-expanded="false" ng-click="cultural.show()" aria-controls="collapseExample">
                            <span class="sub-events">Mom & Me:Twinning</span>
                        </a>
                    </li>
                   
                   
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="Flames">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Flames</h1>
                        <p class="event_content">Long ago, tribes used daring feats of skill and bravery to 
                            choose the worthiest amongst them. To be welcomed to 
                            the tribe you, too, must impress the Headman with your... 
                            eh, skills, for lack of a better word. The stage sets on fire, 
                            when the unseen, unforgettable, ultimate accessory and 
                            perception of fashion heralds the arrival of blistering and 
                            dynamic youth of this country which finally leads to a 
                            classic style of a competition.<br>
                            <!-- <span class="event_prize">Entry fee- 100 per team( team of 3 members)<br>
                       </span> </p> -->
                    </div>
                </div>
                <div class="collapse evt" id="VoiceofSamvid">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Voice of Samvid</h1>
                        <p class="event_content">This Spring get ready to float with the melodies of Indian classical and folk music with a
                            twist of fusion. The Voice Of Shankara music competition witnesses huge participation
                            and gives a platform to various maestros in the rising. Tune your instruments and strike
                            the right notes to beat some of the ustads of Indian Music.<br>
                    </div>
                </div>
                <div class="collapse evt" id="FootLoose">
                    <div class="card card-body event-details">
                        <h1 class="text-center">FootLoose</h1>
                        <p class="event_content">When you are happy and you know it, DANCE.
                            A daring platform to showcase your moves and
                            compete against the best dancers in the country.
                            Shake a Leg pushes your limits with challenges from
                            impromptu choreography to situational Depictions.
                            All it takes to win the title of Dance Master is your skill
                            in the expression of energy and emotions.</p>
                    </div>
                </div>
                <div class="collapse evt" id="WarofDJ">
                    <div class="card card-body event-details">
                        <h1 class="text-center">War of DJ</h1>
                        <p class="event_content">Let's see, what War of DJ's is all
                            about!
                            DJ’s need to submit their MIXTAPES, out of which the
                            management would select the number of people who
                            would proceed to further rounds of the competition,
                            ending up with finale in our very own music event with
                            a stage setup and crowd ready to dance on your
                            beats.
                             </p>
                    </div>
                </div>
                <div class="collapse evt" id="Darpan">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Darpan</h1>
                        <p class="event_content">The enactment of drama in theatre, performed by actors on a stage before an audience, presupposes collaborative modes of production and a collective form of reception. The structure of dramatic texts, unlike other forms of literature, is directly influenced by this collaborative production and collective reception.</p>
                    </div>
                </div>
                <div class="collapse evt" id="momme">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Mom & Me:Twinning</h1>
                        <p class="event_content">The relationship of a Mother with her Child is so pure 
                            and here we at Flames, celebrates this relationship with 
                            ramp walk based on theme of twinning.
                            The Mom and Me(Child) has to dress accordingly with 
                            the same kind of outfit or carry same colours on the 
                            ramp.<br>
                            There are 2 sub-categories in this based on the age of 
                            child:<br>
                           <span class="event_prize">1. Upto 6 years<br>
                            2. From 6 to 12 years<span</p>
                    </div>
                </div>
               
                
                
            </div>
        </div>
    </div>
</section>