<section class="events">
    <div class="container stats-main">
    <div class="row">
        <div class="col-md-12">
            <h1 class="heading" style="z-index: 99999; text-align: center;">Technical Events</h1>
        </div>
    </div>
    <div class="row shadow-lg">
        <div class="col-md-4">
            <ul class="event-list">
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                        Robo Soccer
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Robo Race
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Robo Sumo
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                        Technical Model
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        My Innovation
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Circuit Designing
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Bridge It
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Bottle Rocket
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Shock Wave Game
                    </button>
                </li>
                <li>
                    <button class="btn btn-block sub-events" type="button" data-toggle="collapse"
                        data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                        Techno Race
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    1
                </div>
            </div>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                    2
                </div>
            </div>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    3
                </div>
            </div>
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    4
                </div>
            </div>
            <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                    5
                </div>
            </div>
        </div>
    </div>
    </div>
</section>