<section class="events" style="background: #1488CC;">
    <div class="container events-shape-technical">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">Technical Events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 lists">
                <ul class="event-list">
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RoboSoccer" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Robo Soccer</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RoboRace" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Robo Race</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#RoboSumo" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Robo Sumo</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Model" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Technical Model</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#MyInnovation" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">My Innovation</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#CircuitDesigning" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Circuit Designing</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#BridgeIt" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Bridge It</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Rocket" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Bottle Rocket</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#ShockWave" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Shock Wave</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#Aptitude" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">Aptitude</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block hvr-underline-from-center text-left" data-toggle="collapse"
                            data-target="#creo" aria-expanded="false" ng-click="technical.show()" aria-controls="collapseExample">
                            <span class="sub-events">MECH (CREO)</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="collapse evt show" id="RoboSoccer">
                    <div class="card card-body event-details">
                        <h1 class="text-center ">Robo Soccer</h1>
                        <p class="event_content">Robot Soccer Challenge: Design and build three remote controlled, 
                            wireless robot (Striker, Defender and goalKeeper).
                             The team with maximum goals at the completion of the match will emerge as the winner.
                              The competition area will be having a special place defined for the robot’s operation.
                           <br>
                          <span class="event_prize"> 
                              1stPrize: 4000 INR
                            <br>
                            2ndPrize: 2000 INR
                        </span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="RoboRace">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Robo Race</h1>
                        <p class="event_content">Brace yourself to be enthralled in the electric atmosphere with
                             International drivers racing their monsters on the majestic track! 
                             Get ready for the perplexed gushing bouts, which will go down to the wire,
                             and will keep you on the edge of your seats for the entire duration. 
                             Be there at the International Full Throttle in a bigger track and with
                             a much larger audience.<br>

                           <span class="event_prize">1stPrize: 6000 INR<br>
                            2ndPrize: 4000 INR</span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="RoboSumo">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Robo Sumo</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Model">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Technical Model</h1>
                    </div>
                </div>
                <div class="collapse evt" id="MyInnovation">
                    <div class="card card-body event-details">
                        <h1 class="text-center">My Innovation</h1>
                    </div>
                </div>
                <div class="collapse evt" id="CircuitDesigning">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Circuit Designing</h1>
                        <p class="event_content">Circuit Design is a technical event in which your knowledge about
                             electronics will be tested with a series of designing and implementing tasks.As the participant,
                             you would be asked to design circuits for a given problem statement and implement them in the most efficient way possible.<br>
                        <span class="event_prize">1stPrize: 2500 INR<br>
                         2ndPrize: 1500 INR</span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="BridgeIt">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Bridge It</h1>
                        <p class="event_content">Bridge it is a technical event of SAMVID 2019.
                            This event is mainly bridge making competition through Ice cream sticks.
                            This is a application of truss design.
                            Types bridge like Arch Bridge, Simple Bridge , Double Deck Bridge.<br>
                       <span class="event_prize">1stPrize: 5000 INR<br>
                        2ndPrize: 3000 INR</span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="Rocket">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Bottle Rocket</h1>
                        <p class="event_content">Water Rocket is a event that involves the fabrication of a rocket whose fuel/thrust for
                             flight is obtained by the use of water that is expelled at a large air pressure. It is an example of Newton's 
                             third law of motion. The prerequisites for such an event would be a basic knowledge of fabrication, materials and physical calculations involving thrust, air pressure, etc. The event tests a couple of aspects of the Rocket’s flight. These include range, 
                            time of flight and accuracy of the launching mechanism.<br>
                            <span class="event_prize">1stPrize: 4000 INR<br>
                                2ndPrize: 2000 INR</span>
                        </p>
                    </div>
                </div>
                <div class="collapse evt" id="ShockWave">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Shock Wave</h1>
                    </div>
                </div>
                <div class="collapse evt" id="Aptitude">
                    <div class="card card-body event-details">
                        <h1 class="text-center">Aptitude</h1>
                        <p class="event_content">Aptitude test, examination that attempts to determine and measure a person’s ability to acquire,
                             through future training, some specific set of skills (intellectual, motor,and so on.) 
                            The tests assume that people differ in their special abilities and that these differences can be useful in predicting future achievements.<br>

                         <span class="event_prize">1stPrize: 2500 INR<br>
                          2ndPrize: 1500 INR</span> </p>
                    </div>
                </div>
                <div class="collapse evt" id="creo">
                    <div class="card card-body event-details">
                        <h1 class="text-center">MECH (CREO)</h1>
                        <p class="event_content">Contest based on the PTC Creo parametric 3D CAD software.
                             A contest related to student’s designing and drafting skills.
                              Participants can test and challenge their current skills to improve more.
                               There will be different levels based on sketching,
                             3D modeling, assembly and simulation<br>

                          <span class="event_prize">1stPrize: 2500 INR<br>
                           2ndPrize: 1500 INR</span> </p>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>