<center>
    <div class="lottieloader" ng-show="about.loading">
        <lottie-player
        src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay >
    </div>
</center>
<div ng-hide="about.loading" class="z-index1">
    <div id="gallery-page">
        <!-- <center>
            <h1 class="heading" style="color: #f2aa4cff;">Social<span style="color:darkorchid ;"> Wall</span></h1>
        </center>  -->
        
        <center>
            
            <div class="container">
                <div class="taggbox-container" style=" width:100%;height:100%;overflow: auto;">
                    <script defer src="//web.taggbox.com/app/js/embed.min.js" type="text/javascript">
                        </script>
                        <div class="taggbox-socialwall" data-wall-id="29044" view-url="https://taggbox.com/w/29044">  
                </div>
            </div>           
            </div>    
        </center>
      
    </section>
</div>