<center>
    <div class="lottieloader" ng-show="home.loading">
        <lottie-player
        src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay >
    </div>
</center>
<div ng-hide="home.loading" class="z-index1">
<section  id="home-landing-section">
    <div style="align-items: center; justify-content: center;">
        <img src="../App/images/homelogo.png" class="img-center" alt="Samvid2020" />
    </div>
</section>

 <section id="home-about-section">
     <center>
     <h1 class="heading" style="color: #f2aa4cff;">About<span style="color:darkorchid ;"> Us</span></h1>
     </center>
    <div class="row">
        <div class="col-md-5 mobileview">
            <lottie-player src="https://assets2.lottiefiles.com/temp/lf20_R4avlk.json"  background="transparent"  speed=".5" class="aboutus-svg" loop  autoplay >
            </lottie-player>
        </div> 
    <div class="col-md-7" style="text-align:right;">
            <p class="sub-heading" style="margin-top: 40px; color:#f2aa4cff">
                Samvid, SSTC Bhilai the largest cultural festival in Central India, present you yet another mind-boggling edition of its 3-day extravaganza. This time as you walk down the lanes of the campus, let’s together orchestrate the times we have lived through. And to help you make another one of those cherished memories, SSTC is ready and waiting for you, this 28th February to 2nd March.<br>
                <span class="tagline">
                    Come and feel the fun. See you at Samvid ‘20!<br>
                            #MachaateyRaho
                </span>            
            </p>
     </div>
     <div class="col-md-5 laptopview">
    <lottie-player src="https://assets2.lottiefiles.com/temp/lf20_R4avlk.json"  background="transparent"  speed=".5" class="aboutus-svg" loop  autoplay >
    </lottie-player>
</div>
</div>
</section>

<section id="home-stats-section">
    <center>

        <h1 class="heading">Stats</h1>
        </center>
        <div class="row">
            <div class="col-md-5">
        <lottie-player
        src="https://assets7.lottiefiles.com/temp/lf20_EVDaJ0.json"  background="transparent"  speed="1" class="stats-svg" loop  autoplay >
    </lottie-player>
    </div>
    <div class="col-md-7">
        <div class="col-md-12" style="text-align: center; margin-top: 10%;">
            <h1 class="stats-heading">50+ <span class="stats-content">Events</span></h1>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <h1 class="stats-heading">17K+ <span class="stats-content">Footfall</span></h1>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <h1 class="stats-heading">20K+ <span class="stats-content">Audience</span></h1>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <h1 class="stats-heading">20K+ <span class="stats-content">Footfall</span></h1>
        </div>        
    </div>
        </div>
</section>

<section id="home-theme-section">
    <center>
        <h1 class="heading" style="color: #f2aa4cff;">THEME</h1>
        </center>
       <div class="row"> 
       <div class="col-md-7" style="text-align:right;">
               <p class="sub-heading" style="margin-top: 40px; color:#f2aa4cff">
                   Samvid, SSTC Bhilai the largest cultural festival in Central India, present you yet another mind-boggling edition of its 3-day extravaganza. This time as you walk down the lanes of the campus, let’s together orchestrate the times we have lived through. And to help you make another one of those cherished memories, SSTC is ready and waiting for you, this 28th February to 2nd March.<br>
                   <span style="color:darkorchid;font-size: 2rem;">
                       Come and feel the fun. See you at Samvid ‘20!<br>
                               #MachaateyRaho
                   </span>            
               </p>
        </div>
        <div class="col-md-5">
       <!-- <lottie-player src="https://assets2.lottiefiles.com/temp/lf20_R4avlk.json"  background="transparent"  speed="1" class="aboutus-svg" hover loop  autoplay >
       </lottie-player> -->
   </div>
   </div>
</section>
</div>

