<center>
    <div class="lottieloader" ng-show="home.loading">
        <lottie-player src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"
            background="transparent" speed="1" style="width: 400px; height: 400px;" loop autoplay>
    </div>
</center>
<div ng-hide="home.loading" class="z-index1">

    <section id="animation">
        <div class="marvel-wrapper run-animation" id="animate">
            <div class="logo">

                <span class="marvel">SAMVID</span>
                <span class="studios" style="font-family: badaboom;">2020</span><br>
                <span class="dates">23<sup>rd</sup> - 24<sup>th</sup> Feb</span><br>
                <span class="macha">#Machaateyraho</span>
            </div>
        </div>

        <div class="images"></div>
    </section>

    <section id="home-theme-section" style="background: url('App/images/theme1.jpg');">
        <center>
            <h1 class="heading" style="color: #f2aa4cff;">THEME</h1>
        </center>
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <p class="sub-heading">
                    <span style="background-color: rgb(3, 10, 10);"> What is life without colours ? Nothing.
                        What is Sea without Water ? Nothing.
                        What is college Fest without a theme ? Nothing.

                        This year 2020, we are Proudly presenting you the theme of SAMVID 2020 the mind blowing and very
                        colourful COMICON.
                        Yes, you heard it right, this SAMVID is COMICON based SAMVID where everything is not just
                        Normal, it
                        is going to be filled with Superheroes, Cartoons and a bit of surprise that we have added from
                        our
                        side that you will absolutely fall in love with when you visit the Fest.<span
                            style="color:red;font-size: 2rem;" class="tagline">
                            <br>Come and feel the fun. See you at Samvid ‘20!<br>
                            #MachaateyRaho
                        </span>
                </p>
            </div>
        </div>
    </section>
    <section id="home-about-section">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">ABOUT US</h1>
            </div>
            <div class="col-md-5 mobileview">
                <lottie-player src="https://assets2.lottiefiles.com/temp/lf20_R4avlk.json" background="transparent"
                    speed=".5" class="aboutus-svg" loop autoplay>
                </lottie-player>
            </div>
            <div class="col-md-7" style="text-align:right;">
                <p class="sub-heading">
                    <span style="background-color: black;"> Samvid, SSTC Bhilai the largest cultural festival in Central
                        India, present you yet another
                        mind-boggling edition of its 2-day extravaganza. This time as you walk down the lanes of the
                        campus,
                        let’s together orchestrate the times we have lived through. And to help you make another one of
                        those cherished memories, SSTC is ready and waiting for you, this 23rd February to 24th
                        February<br>
                        <span class="tagline" style="color: #158202;">
                            See you at Samvid ‘20!<br>
                            #MachaateyRaho
                        </span>
                    </span>
                </p>
            </div>
            <div class="col-md-5 laptopview">
                <lottie-player src="https://assets2.lottiefiles.com/temp/lf20_R4avlk.json" background="transparent"
                    speed=".5" class="aboutus-svg" loop autoplay>
                </lottie-player>
            </div>
        </div>
    </section>

    <section id="home-stats-section">
        <div class="row">
            <div class="col-md-12">
                <h1 class="heading" style="z-index: 99999; text-align: center;">STATS</h1>
            </div>
            <div class="col-md-6">
                <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_FizrwJ.json" background="transparent"
                    speed="0.5" class="stats-svg" loop autoplay>
                </lottie-player>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="text-align: center; margin-top: 10%;">
                    <h1 class="stats-heading">50+ <span class="stats-content">Events</span></h1>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <h1 class="stats-heading">17K+ <span class="stats-content">Footfall</span></h1>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <h1 class="stats-heading">20K+ <span class="stats-content">Audience</span></h1>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <h1 class="stats-heading">5K+ <span class="stats-content">Participants</span></h1>
                </div>
            </div>
        </div>
    </section>
    <div id="wrapper">
        <div id="spiderman">
            <div class="head">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
            </div>
            <div class="body">
                <div class="spider"></div>
                <div class="arm-left"></div>
                <div class="arm-right"></div>
            </div>
            <div class="legs">
                <div class="boot-left"></div>
                <div class="boot-right"></div>
            </div>
        </div>
    </div>


    <section id="home-footer-section" class="laptopview">
        <div class="row">
            <div class="col-md-4" style="margin-top: 5%;">
                <ul>
                    <li>
                        <center>
                            <h3 style="font-family: Kanit, sans-serif;"><strong>SUPPORT</strong></h3>
                        </center>
                    </li>
                    <li>
                        <center><a href="#!Contact" class="hvr-bounce-to-right">Contact Us</a></center>
                    </li>
                    <li>
                        <center><a href="#!Events" class="hvr-bounce-to-right">FAQ</a></center>
                    </li>
                </ul>
                <ul>
                    <li>
                        <center>
                            <h3 style="font-family: Kanit, sans-serif;"><strong>LEARN MORE</strong></h3>
                        </center>
                    </li>
                    <li>
                        <center><a href="#!About" class="hvr-bounce-to-right">About Us</a></center>
                    </li>
                    <li>
                        <center><a href="#!Events" class="hvr-bounce-to-right">Events</a></center>
                    </li>
                    <li>
                        <center><a href="#!Events/Conclave" class="hvr-bounce-to-right">Conclave</a></center>
                    </li>
                    <li>
                        <center><a href="#!Socialwall" class="hvr-bounce-to-right">Social Wall</a></center>
                    </li>
                    <li>
                        <center><a href="#!Activites" class="hvr-bounce-to-right">Activites</a></center>
                    </li>
                    <li>
                        <center><a href="#!Activites" class="hvr-bounce-to-right">Sponsors</a></center>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 blank-div"></div>
            <div class="col-md-4" style="margin-top: 5%;">
                <h3 style="font-family: Kanit, sans-serif; text-align: center;"><strong>SOCIAL MEDIA</strong></h3>
                <center>
                    <a style="text-decoration: none;" href="https://www.facebook.com/samvidfest" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/fb.png">
                    </a>
                    <a style="text-decoration: none;" href="https://www.instagram.com/samvid.official" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/insta.png">
                    </a>
                    <a style="text-decoration: none;" href="https://www.twitter.com/OfficialSamvid" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/tw.png">
                    </a>
                    <a style="text-decoration: none;" href="https://www.youtube.com/channel/UCDVykLwXOoGbUUZFZnncIug" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/yt.png">
                    </a>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.8071806646576!2d81.30120351424904!3d21.2394933859282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a293d7a6f894e4d%3A0x8591904c3892c223!2sShri%20Shankaracharya%20Technical%20Campus!5e0!3m2!1sen!2sin!4v1580836263002!5m2!1sen!2sin"
                        class="mt-4" width="400" height="300" frameborder="0" style="border:0;"
                        allowfullscreen=""></iframe>
                </center>
            </div>
            <div class="col-md-12">
            <center>
                <p><strong>&copy;All Rights Reserved 2020</strong></p>
                <p><a href="https://www.sstc.ac.in/" style="text-decoration: none; color: #212529;" target="_blank"><strong>Developed At SSTC</strong></a></p>
            </center>
            </div>
    </section>
    <section id="home-footer-section" class="mobileview">
        <div class="row">
            <div class="col-md-12" style="margin-top: 5%;">

                <center>
                    <h3 style="font-family: Kanit, sans-serif;"><strong>SUPPORT</strong></h3>
                </center>

                <center><a href="#!About" class="hvr-bounce-to-right micon">Contact Us</a></center>

                <center><a href="#!Events" class="hvr-bounce-to-right micon">FAQ</a></center>

                <center>
                    <h3 style="font-family: Kanit, sans-serif;"><strong>LEARN MORE</strong></h3>
                </center>

                <center><a href="#!About" class="hvr-bounce-to-right micon">About Us</a></center>

                <center><a href="#!Events" class="hvr-bounce-to-right micon">Events</a></center>

                <center><a href="#!Events/Conclave" class="hvr-bounce-to-right micon">Conclave</a></center>

                <h3 style="font-family: Kanit, sans-serif; text-align: center;"><strong>SOCIAL MEDIA</strong></h3>
                <center>
                    <a style="text-decoration: none;" href="https://www.facebook.com/samvidfest" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/fb.png">
                    </a>
                    <a style="text-decoration: none;" href="https://www.instagram.com/samvid.official" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/insta.png">
                    </a>
                    <a style="text-decoration: none;" href="https://www.twitter.com/OfficialSamvid" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/tw.png">
                    </a>
                    <a style="text-decoration: none;" href="https://www.youtube.com/channel/UCDVykLwXOoGbUUZFZnncIug" target="_blank">
                        <img class="icon mt-3" src="App/images/icon/yt.png">
                    </a>
                </center>

                <div class="container">
                    <img src="App/images/samvid.png" class="center">

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.8071806646576!2d81.30120351424904!3d21.2394933859282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a293d7a6f894e4d%3A0x8591904c3892c223!2sShri%20Shankaracharya%20Technical%20Campus!5e0!3m2!1sen!2sin!4v1580836263002!5m2!1sen!2sin"
                        style="margin-top: 60%;" width="375" height="300" frameborder="0" style="border:0;"
                        allowfullscreen=""></iframe>
                </div>
                <div class="col-md-12">
                    <center>
                        <p><a href="https://www.sstc.ac.in/" style="text-decoration: none;color: #212529;" target="_blank">Developed At SSTC</a></p>
                        <p>&copy;All Rights Reserved.</p>
                    </center>
                    </div>
            </div>
        </div>
    </section>