<style>
img:hover
{
    padding: 5px;
}
</style>



<center>
    <div class="lottieloader" ng-show="about.loading">
        <lottie-player
        src="https://assets2.lottiefiles.com/datafiles/TGk8V8s3traDiWY/data.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay >
    </div>
</center>
<div ng-hide="about.loading" class="z-index1">
    <div id="sponsor-page">
        <center>
            <h1 class="heading" style="color: #f2aa4cff;">Sponsors</h1>
        </center> 
        
        <div class="container contact-page">
            <div class="row contact-page">
            <div class="col-md-3">
                <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" class="card-img-top sponsor-img" alt="frame">
              </div>
              <div class="col-md-3">
                <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
              </div>
              <div class="col-md-3">
                <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" " class="card-img-top sponsor-img" alt="frame">
              </div>
              <div class="col-md-3">
                <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
              </div>
            </div>
            </div>

            <div class="container contact-page">
                <div class="row contact-page">
                    <div class="col-md-3">
                        <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" class="card-img-top sponsor-img" alt="frame">
                      </div>
                      <div class="col-md-3">
                        <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
                      </div>
                      <div class="col-md-3">
                        <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" class="card-img-top sponsor-img" alt="frame">
                      </div>
                      <div class="col-md-3">
                        <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
                      </div>
                </div>
                </div>
                <div class="container contact-page">
                    <div class="row contact-page">
                        <div class="col-md-3">
                            <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" class="card-img-top sponsor-img" alt="frame">
                          </div>
                          <div class="col-md-3">
                            <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
                          </div>
                          <div class="col-md-3">
                            <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" " class="card-img-top sponsor-img" alt="frame">
                          </div>
                          <div class="col-md-3">
                            <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
                          </div>
                    </div>
                    </div>
                    <div class="container contact-page">
                        <div class="row contact-page">
                            <div class="col-md-3">
                                <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" " class="card-img-top sponsor-img" alt="frame">
                              </div>
                              <div class="col-md-3">
                                <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
                              </div>
                              <div class="col-md-3">
                                <img src="App/images/spon1.png" width="100% " style="margin-top: 50px;" " class="card-img-top sponsor-img" alt="frame">
                              </div>
                              <div class="col-md-3">
                                <img src="App/images/spon2.png" width="100%" " class="card-img-top sponsor-img" alt="frame">
                              </div>
                        </div>
                        </div>
    </section>
</div>
